# Python compiled byte code
*.pyc

# local settings
local_settings.py

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

# vim undo
*~
*.swp
*.swo


coverage/
.coverage
