Django==1.7.2
dj-database-url==0.3.0
django-angular==0.7.10
django-appconf==0.6
django-bower==5.0.1
django-compressor==1.4
django-debug-toolbar==1.2.2
django-extensions==1.4.9
django-pipeline==1.4.3
djangorestframework==3.0.2
django-rest-authemail==0.1.4
drf-nested-routers==0.9.0
dj-static==0.0.6
gunicorn==19.1.1
newrelic==2.40.0.34
nltk==3.0.0
psycopg2==2.5.4
six==1.8.0
#static3==0.5.1
Werkzeug==0.9.6
wsgiref==0.1.2
