<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <h1>Rhymes for "{{ vm.typed }}"</h1>

    <div class="well">
        <div ng-controller="RhymeController">
            <div class="row">
                <div ng-repeat="category in vm.rhyme_data">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <h2>{{ category.sound }}</h2>
                        <div ng-repeat="rhyme in category.rhymes">
                            {{ rhyme.word }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
