<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Enter Word to Rhyme</h1>

    <div class="well">
      <form role="form" ng-submit="vm.word()">
          <!--<div class="alert alert-danger" ng-show="error" ng-bind="error">Sorry, we don't know that word.  <a href='/add' >add it</a></div>-->

        <div class="form-group">
          <label for="word__word_to_rhyme">Word</label>
          <input type="text" class="form-control" id="word__word_to_rhyme" ng-model="vm.word_to_rhyme" placeholder="type yer word here" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Get Rhymes</button>
        </div>
      </form>
    </div>
  </div>
</div>
