<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <h1>SongRhyme</h1>
      <ul>
        <li>perfect and close rhymes</li>
        <li>by and for songwriters</li>
      </ul>
      <form ng-submit="vm.submit_word()" action=".">
          <!--<div class="alert alert-danger" ng-show="error" ng-bind="error">Sorry, we don't know that word.  <a href='/add' >add it</a></div>-->

        <div class="form-group form-group-lg">
            <input type="text" class="form-control" id="word__word_to_rhyme" ng-model="vm.word_to_rhyme" placeholder="type word here" ng-minlength="2" focus-info="wordscope" focus-on-page-load>

            <button type="submit" class="btn btn-primary btn-raised">Get Rhymes</button>
        </div>
      </form>
      <div fb-like></div>
      <h4>Comments or suggestions? Email <a href="mailto:songrhyme1@gmail.com">songrhyme@gmail.com</a>.   We're also seeking Python developers to help improve this site.</h4>
      <h4>SongRhyme is based on the ideas of <a href='http://patpattison.com/'>Pat Pattison</a>.  Check out his excellent books and seminars.</h4>

    </div>
  </div>
</div>
