{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

<script type="text/javascript" src="{% static 'javascript/songrhyme.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/songrhyme.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/songrhyme.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/rhyme.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/controllers/word.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/controllers/addword.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/controllers/rhyme.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/services/rhyme.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/rhyme/directives/directives.module.js' %}"></script>
{% endcompress %}
